@model WhiteLotusProject.Models.Workshop

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Workshop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Client"))
    {
        if (Model.DateTime.Subtract(DateTime.Now).TotalHours > 24)
        {
            <button data-wksp-id="@Model.Id"
                    class="btn @(Model.IsCanceled  ? "disabled" : "") btn-success btn-sm js-toggle-workshop">
                Cancel
            </button>
        }
    }

    @if (User.IsInRole("Client") == false)
    {
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id}, new {@class = "btn btn-info"})
    }
</p>
@section scripts{
    <script>
        $(document)
            .ready(function() {
                $(".js-toggle-workshop")
                    .click(function(e) {
                            var button = $(e.target);
                            var id = button.attr("data-wksp-id");
                            $.ajax({
                                url: "/api/reserveworkshop/cancel/" + id,
                                method: "DELETE"
                            })
                        .done(function() {
                            button.removeClass("btn-success")
                                .addClass("btn-primary disabled")
                                .text("Canceled");

                        })
                        .fail(function() {
                            alert("Something failed in during cancel resreveatoin of workshop");

                        });
            });
    });
    </script>
}